.sbgshow {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    line-height: 1.7em;
    background: rgba(0, 0, 0, 0.85);
}

.sbgshow .arron {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 100px;
    height: 100px;
    background: url(../img/arron.png) no-repeat;
    background-size: 100px 100px;
}

.sbgshow p {
    padding-top: 78px;
}

.sbg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 26px;
    line-height: 1.7em;
    background: rgba(0, 0, 0, 0.85);
}

.sbg .arron {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 100px;
    height: 100px;
    background: url(../img/arron.png) no-repeat;
    background-size: 100px 100px;
}

.sbg p {
    padding-top: 78px;
}